<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triangle Solver</title>
    <link rel="icon" type="image/x-icon" href="/public/logo4.ico" />
    <link rel="stylesheet" href="/public/style.css" />
    <script src="/public/script.js"></script>
    <style>
      input[type="number"] {
        width: 200px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 18px;
        text-align: left;
      }
    </style>
    <script>
      function triangleArea(a, b, c) {
        var area;
        // Calculate semi-perimeter
        let s = (a + b + c) / 2;

        // Calculate the area using Heron's formula
        var pro = s * (s - a) * (s - b) * (s - c);
        if (isSquareNumber(pro)) {
          var area = `${Math.sqrt(pro)}`;
        } else {
          var area = `√${pro}`;
        }

        return area;
      }
      function solveTriangle() {
        var a = parseFloat(document.getElementById("a").value);
        var b = parseFloat(document.getElementById("b").value);
        var c = parseFloat(document.getElementById("c").value);
        const area = triangleArea(a, b, c);
        const A =
          (Math.acos((b * b + c * c - a * a) / (2 * b * c)) * 180) / Math.PI;
        const B =
          (Math.acos(Math.abs(a * a + c * c - b * b) / (2 * a * c)) * 180) /
          Math.PI;
        const C =
          (Math.acos(Math.abs(a * a + b * b - c * c) / (2 * a * b)) * 180) /
          Math.PI;
        if (isNaN(a) || isNaN(b) || isNaN(c) || a <= 0 || b <= 0 || c <= 0) {
          document.getElementById("sol").innerHTML = `Enter the valid values !`;
        } else {
          if (a + b > c && b + c > a && c + a > b) {
            if (a == b && b == c && c == a) {
              document.getElementById("sol").innerHTML = `
                        Here the sides are a = ${a}; b = ${b}; c = ${c}<br>
                        And we can observe that a = b = c <br>
                        <h3>Triangle Type</h3>
                        Then this is an Equilateral Triangle<br>
                        <h3>Angle Measures</h3>
                        The angle measures are A = B = C = 60<sup>o</sup><br>
                            <h3>Area of Triangle</h3>
                            The area of triangle is given by
                            Area(△ABC) = ${area}`;
            } else if (a == b || b == c || c == a) {
              document.getElementById("sol").innerHTML = `
                        Here the sides are a = ${a}; b = ${b}; c = ${c}<br>
                        And we can observe that two sides are equal<br>
                        <h3>Triangle Type</h3>
                        Then this is an Isosceles Triangle<br>
                        <h3>Angle Measures</h3>
                        The angle measures are A = ${A}<sup>o</sup><br>
                        B = ${B}<sup>o</sup><br>
                        C = ${C}<sup>o</sup><br>
                            <h3>Area of Triangle</h3>
                            The area of triangle is given by
                            Area(△ABC) = ${area}`;
            } else if (a != b && b != c && c != a) {
              document.getElementById("sol").innerHTML = `
                        Here the sides are a = ${a}; b = ${b}; c = ${c}<br>
                        And we can observe all sides are different<br>
                        <h3>Triangle Type</h3>
                        Then this is an Scalene Triangle<br>
                        <h3>Angle Measures</h3>
                        The angle measures are A = ${A}<sup>o</sup><br>
                        B = ${B}<sup>o</sup><br>
                        C = ${C}<sup>o</sup><br>
                            <h3>Area of Triangle</h3>
                            The area of triangle is given by
                            Area(△ABC) = ${area}`;
            }
          } else {
            document.getElementById("sol").innerHTML = `
                    The given sides cannot form a triangle<br>
                    Because ${a}+${b} is not greater than ${c}<br>
                    ${b}+${c} is not greater than ${a}<br>
                    ${c}+${a} is not greater than ${b}<br>`;
          }
        }
      }
    </script>
  </head>

  <body>
    <div class="all-heading">
      <h2>Triangle Solver</h2>
    </div>
    <div class="tool-box">
      <div class="sub-heading">
        Enter the sides to analyze the triangle in 2D
      </div>
      <div class="about-content">
        <br />
        Let a,b and c be the sides of the triangle<br />
        And A,B and C be the angles opposite to sides a,b and c respectively
      </div>
      <h3>Enter the values</h3>
      <label for="a">Side a:</label>
      <input type="number" id="a" placeholder="a value" /><br />
      <label for="b">Side b:</label>
      <input type="number" id="b" placeholder="b value" /><br />
      <label for="c">Side c:</label>
      <input type="number" id="c" placeholder="c value" /><br />
      <button type="button" class="solve" onclick="solveTriangle()">
        Solve
      </button>
      <p id="sol"></p>
    </div>
  </body>
</html>
